<form id="community-select" method="post">
  <h2>Select communities:</h2>
  <div class="community">
    <input type="checkbox" id="chilete" value="" name="">
    <label for="chilete">Chilete</label>
  </div>

  <div class="community">
    <input type="checkbox" id="huanchao" value="" name="">
    <label for="huanchaco">Huanchao</label>
  </div>

  <div class="community">
    <input type="checkbox" id="huamachuco" value="" name="">
    <label for="huamachuco">Huamachuco</label>
  </div>

  <div class="community">
    <input type="checkbox" id="julcan" value="" name="">
    <label for="julcan">Julcan</label>
  </div>

  <div class="community">
    <input type="checkbox"  id="limon-carlo-rapidas" value="" name="">
    <label for="limon-carlo-rapidas">Limon Carlo (1)</label>
  </div>

  <div class="community">
    <input type="checkbox" id="limon-carlo-lentas" value="" name="">
    <label for="limoncarlo2">Limon Carlo (2)</label>
  </div>

  <div class="community">
    <input type="checkbox" id="magaly" name="magaly" value="" name="">
    <label for="magaly">Magaly</label>
  </div>

  <div class="community">
    <input type="checkbox" id="milagro" value="" name="">
    <label for="milagro">Milagro</label>
  </div>

  <div class="community">
    <input type="checkbox" id="otrosierra" value="" name="">
    <label for="otro-sierra">Otro Sierra</label>
  </div>

  <div class="community">
    <input type="checkbox" id="palmeras" value="" name="">
    <label for="palmeras">Palmeras</label>
  </div>

  <div class="community">
    <input type="checkbox" id="paypay" value="" name="">
    <label for="paypay">Paypay</label>
  </div>

  <div class="community">
    <input type="checkbox" id="progreso-rapidas" value="" name="">
    <label for="progreso-rapidas">Progreso (1)</label>
  </div>

  <div class="community">
    <input type="checkbox" id="progreso-lentas" value="" name="">
    <label for="progreso-lentas">Progreso (2)</label>
  </div>

  <div class="community">
    <input type="checkbox" id="salitre-rapidas" value="" name="">
    <label for="salitre-rapidas">Salitre (1)</label>
  </div>

  <div class="community">
    <input type="checkbox" id="salitre-lentas" value="" name="">
    <label for="salitre-lentas">Salitre (2)</label>
  </div>

  <div class="community">
    <input type="checkbox" id="san-pedro-de-lloc" value="" name="">
    <label for="san-pedro-de-lloc">San Pedro de Lloc</label>
  </div>

  <div class="community">
    <input type="checkbox" id="tembladera-rapidas" value="" name="">
    <label for="tembladera-rapidas">Tembladera (1)</label>
  </div>

  <div class="community">
    <input type="checkbox" id="tembladera-lentas" value="" name="">
    <label for="tembladera-lentas">Tembladera (2)</label>
  </div>

</form>

<div id="community-display">
  <h2>Project Capacity:</h2>

  <div class="">

  <select id="optionsA" class="" name="">
  <option value="" disabled selected>Select one:</option>
  </select>

  <p id="order-displays" value="">&nbsp---</p>
</div>



  <ul>
    <!-- create input range (slider) here, hide and clone node - might have to be appended in JS file-->

  </ul>
</div>
<div class="slider">

</div>
<div id="vizcontainer">
  <h2>Winter 2018 Unit Distribution</h2>
  <svg></svg>

</div>

 <script>
      $( document ).ready(function() {
      console.log( "ready!" );
      $.ajax({
        url: "http://localhost:3000/artisans",
        method: "GET",
        dataType: "json"
      }).done(function(data){
        globalData = {};
        var orderSize = [];
        data.forEach(function(item){          orderSize.push(item.data.orderquantity);

          var artisanAverageChart = d3.pie();
          var order = artisanAverageChart(orderSize);
          // add  label
          var newArc = d3.arc();
          newArc.innerRadius(50)
            .outerRadius(100)
          // console.log(newArc(geoEarnings[0]));

          var fillScale = d3.scaleOrdinal()
            .range([d3.rgb("#581845"), d3.rgb("#34495E"), d3.rgb("#1ABC9C"), d3.rgb("#3498DB"), d3.rgb("#C70039")])
          d3.select("svg")
            .append("g")
            .attr("transform","translate(250,250)")
            .selectAll("path")
            .data(order)
            .enter()
            .append("path")
            .attr("d", newArc)
            .style("fill", (d,i) => fillScale(i))
            .style("stroke", "black")


            d3.select("svg")
                .append("text")
                .attr("x",100)
                .attr("y",100)
                .text("Distribution of orders (see dropdown).");
        })
    });
  });

  </script> -->
