<!DOCTYPE html>
<html>
  <head>
    <title>Darproyecto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>DAR Proyectos</h1>
    <h2>Desarrollo Artesanal Rentable - Sustainable Artisan Development Projects</h2>
    <%= yield %>
  </body>
</html>
